# postgres
POSTGRES_USER=vcx_auth
POSTGRES_PASSWORD=password
POSTGRES_DB=vcx_auth

# keycloak
KEYCLOAK_WELCOME_THEME=vcx
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=password
DB_VENDOR=postgres
DB_ADDR=postgres
DB_PORT=5432
DB_DATABASE=vcx_auth
DB_USER=vcx_auth
DB_PASSWORD=password
